<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <aside class="ui vertical inverted sidebar visible menu">
        <section class="item">
          <h1 class="header">Channels</h1>
          <div class="menu">
            <a class="item">dev</a>
            <a class="active item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>
            <a class="item">general</a>
            <a class="item">icpc</a>

          </div>
        </section>

        <section class="item">
          <h1 class="header">Direct Messages</h1>
          <div class="menu">
            <a class="item">slackbot</a>
            <a class="item">nyamadori</a>
            <a class="item">awaryu</a>
          </div>
        </section>
      </aside>

      <article class="channel-container">
        <div class="ui top fixed borderless menu channel-menu">
          <div class="header item">#general</div>
        </div>

        <div class="ui segment basic container">
          <div class="ui comments">
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>

            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>

            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>

            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="http://placehold.it/300x300">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 4:32PM</span>
                </div>

                <div class="text">aaaaaaa</div>
              </div>
            </div>

            <div class="ui bottom fixed borderless menu channel-menu">
              <div class="item" style="width: 100%">
                <div class="ui input">
                  <input type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>
